*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, #9198e5);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
h1{
    font-family: "Permanent Marker", cursive;
    font-size: 36px;
    color: rgb(7, 185, 255);
}
.container{
    text-align: center;
    background-color: rgb(201, 199, 199, 0.5);
    opacity: 0.6;
    padding: 20px;
    opacity: 1;
}
.main{
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#text-input{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
button{
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
#addBtn{
    background-color: green;
}
#clearBtn{
    background-color: goldenrod;
}
button:hover{
    color: white;
    /* padding: 10px 14px; */
}

#items{
    margin-top: 15px;
    list-style: none;
    font-size: 24px;
}
#items div{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    background-color: rgb(218, 215, 215);
    padding: 4px;
}
.btns{
    display: flex;
    gap: 10px;
}

.editBtn{
    background-color: rgb(245, 61, 61);
}
.deleteBtn{
    background-color: goldenrod;
}

.note{
    margin-top: 20px;
    color: rgb(99, 97, 97);
    font-style: italic;
}
@media (max-width: 510px){
    .container{
        padding: 10px;
    }
    .main{
        flex-direction: column;
    }
    #addBtn, #clearBtn{
        width: 100%;
    }
    #items div{
        flex-direction: column;
    }
}